SECRET_KEY=django-insecure-^9pe$ql(6)%m)go5ls*xiw6$6vr$ym@v&ea3s954@*#@tncym2

DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=mysql://user:password@host:port/database

LANGUAGE_CODE=en-us

TIME_ZONE=UTC