{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block extra_head %}
    {% include "head.html" %}
{% endblock %}

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Password Change</h1>
                                <p>Please enter your current password and a new password.</p>
                            </div>
                            <form class="user" method="post">
                                {% csrf_token %}

                                <div class="form-group">
                                    {{ form.old_password.label_tag }}
                                    {{ form.old_password | add_class:"form-control form-control-user" }}
                                    {{ form.old_password.errors }}
                                </div>
                                <div class="form-group">
                                    {{ form.new_password1.label_tag }}
                                    {{ form.new_password1 | add_class:"form-control form-control-user" }}
                                    {{ form.new_password1.errors }}
                                </div>
                                <div class="form-group">
                                    {{ form.new_password2.label_tag }}
                                    {{ form.new_password2 | add_class:"form-control form-control-user" }}
                                    {{ form.new_password2.errors }}
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Change Password</button>
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'profile' %}">Return to Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>