<div class="modal fade" id="ProductDeleteModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="ProductDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ProductDeleteModalLabel">Ready to Delete?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Delete" below if you are ready to remove the product: <strong>{{ product.name }}</strong>.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a id="delete" class="btn btn-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>