{% extends "header.html" %}

{% block nav %}
<div class="px-3 py-2 bg-light-subtle border-bottom mb-3"> 
    
    <div class="container d-flex flex-wrap justify-content-between"> 
        <h2 class="mb-0">
            Estoque
        </h2>
        
        <div class="text-end">  
            <button type="button" class="btn btn-outline-primary">Produtos</button> 
            <button type="button" class="btn btn-outline-primary">Categorias</button> 
            <button type="button" class="btn btn-outline-primary">Movimentações</button> 
        </div> 
    </div> 
</div>

{% endblock %}